{% assign image = page.header | default: site.header | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}
{% assign svg = "images/logo2.svg" | file_exists %}
{% assign png = "images/logo2.png" | file_exists %}
{% assign jpg = "images/logo2.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

<header
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% else %}
    notmain
  {% endif %}
>
  <a 
    {% if page.dir == "/BaysanLab/" or 
    page.dir == "/BaysanLab/posters/" or 
    page.dir == "/BaysanLab/projects/" or 
    page.dir == "/BaysanLab/publications/" or 
    page.dir == "/BaysanLab/people/" or 
    page.dir == "/BaysanLab/news/" or 
    page.dir == "/BaysanLab/contact/" %}
      href="{{ '/BaysanLab' | relative_url }}" class="home"
    {% elsif page.dir == "/CakmakLab/" or 
    page.dir == "/CakmakLab/posters/" or 
    page.dir == "/CakmakLab/projects/" or 
    page.dir == "/CakmakLab/publications/" or 
    page.dir == "/CakmakLab/people/" or 
    page.dir == "/CakmakLab/news/" or 
    page.dir == "/CakmakLab/contact/" %}
      href="{{ '/CakmakLab' | relative_url }}" class="home"
    {% else %}
      href="{{ '/' | relative_url }}" class="home"
    {% endif %}>
    {% if logo %}
      {% if page.dir == "/" %}
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <table style="border-collapse: collapse;">
            <tr>
              <td style="border: none; padding: 0;">
                <img style="margin-right: 60px;" src="/images/itu-white_1.png/" alt="logo" width="170" height="100">
                <a href="/" style="margin-left: 60px; text-decoration: none; color: inherit;">
                  <img src="{{ logo | relative_url }}" alt="logo" width="273" height="100">
                </a>
              </td>
            </tr>
          </table>
        {% endif %}
      {% else %}
        {{" "}}    
      {% endif %}
    {% endif %}
  
    {% if site.logo-text != false %}
      <span class="title" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          {% if page.dir == "/BaysanLab/" or 
          page.dir == "/BaysanLab/posters/" or 
          page.dir == "/BaysanLab/projects/" or 
          page.dir == "/BaysanLab/publications/" or 
          page.dir == "/BaysanLab/people/" or 
          page.dir == "/BaysanLab/news/" or 
          page.dir == "/BaysanLab/contact/" %}
            <div align = "left" style="position: absolute;left:40px;top:1em; font-size: 15px;"> 
              <a href="/" > {{"ITU Bioinformatics Research Group"}}
            </div>
            <br />
              <div align = "left" style="position: absolute;left:40px;bottom:1.2em; font-size: 24px;">
                <a href="/BaysanLab/" > {{"BAYSAN LAB"}}
              </div>
          {% elsif page.dir == "/CakmakLab/" 
          or page.dir == "/CakmakLab/posters/" or 
          page.dir == "/CakmakLab/projects/" or 
          page.dir == "/CakmakLab/publications/" or 
          page.dir == "/CakmakLab/people/" or 
          page.dir == "/CakmakLab/news/" or 
          page.dir == "/CakmakLab/contact/" or
          page.dir == "/CakmakLab/repo/" %}
            <div style="height: 120px;">
              <div style="display: inline-block; vertical-align: middle; position: absolute; top: 50%; left: 0; transform: translateY(-50%); margin-left: 20px;">
                <a href="/">
                  <img src="{{ logo | relative_url }}" alt="logo" width="273" height="100" style="vertical-align: middle;">
                </a>
              </div>
              <div style="position: absolute; top: 50%; right: 0; transform: translateY(-50%); margin-right: 20px;">
                <a href="/">
                  <img src="/images/itu-white_1.png/" alt="logo" width="170" height="100">
                </a>
              </div>
            <div style="width: 2px; height: 70%; background-color: #ffffff; position: absolute; left: 20%; top: 20px; transform: translateX(-50%);"></div>
            </div>
            <div style="display: inline-block; position: absolute; left: 20%; left: 10; transform: translateY(-50%); margin-left: 20px; margin-top: 18px;">
              <a href="/CakmakLab/" > {{"CAKMAK LAB"}}
            </div>
          {% elsif page.dir == "/" %}
            {{" "}}
          {% else %}
            <span> {{" "}} </span>
          {% endif %}
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span>{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>
  
  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
        
    {% if page.dir == "/BaysanLab/" 
    or page.dir == "/BaysanLab/posters/" 
    or page.dir == "/BaysanLab/projects/" 
    or page.dir == "/BaysanLab/publications/" 
    or page.dir == "/BaysanLab/people/" 
    or page.dir == "/BaysanLab/news/" 
    or page.dir == "/BaysanLab/contact/" %}
      {% assign pages = site.pages
        | here_exp: "page", "page.nav"
        | sort: "nav.order"
        | where: "nav.BL", "1"
      %}
    {% elsif page.dir == "/CakmakLab/" 
    or page.dir == "/CakmakLab/posters/" 
    or page.dir == "/CakmakLab/projects/" 
    or page.dir == "/CakmakLab/publications/" 
    or page.dir == "/CakmakLab/people/" 
    or page.dir == "/CakmakLab/news/" 
    or page.dir == "/CakmakLab/contact/" %}
      {% assign pages = site.pages
        | where_exp: "page", "page.nav"
        | sort: "nav.order"
        | where: "nav.CL", "1"
      %}
    {% else %}
      {% assign pages = site.pages
        | where_exp: "page", "page.nav"
        | where: "nav.main", "1"
        | sort: "nav.order"
      %}
    {% endif %}

    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url }}"
          data-tooltip="{{ page.nav.tooltip }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  
    
  </nav>
</header>
